<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta content="" name="description" />
<meta content="webthemez" name="author" />
<title>BRILLIANT Free Bootstrap Admin Template</title>
<!-- Bootstrap Styles-->
<link th:href="@{assets/css/bootstrap.css}" rel="stylesheet" />
<!-- FontAwesome Styles-->
<link th:href="@{assets/css/font-awesome.css}" rel="stylesheet" />
<!-- Morris Chart Styles-->
<link th:href="@{assets/js/morris/morris-0.4.3.min.css}" rel="stylesheet" />
<!-- Custom Styles-->
<link th:href="@{assets/css/custom-styles.css}" rel="stylesheet" />
<!-- Google Fonts-->
<link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans}" rel='stylesheet' type='text/css' />

<link rel="stylesheet" th:href="@{assets/js/Lightweight-Chart/cssCharts.css}"/>